@using Microsoft.AspNet.Identity;
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet" />

</head>
<body>
    
    <div class="row" id="principal">
        <div class="col-md-3 bg-light position-fixed h-100" id="aside">

            <div class="circle-img rounded-circle mx-auto mt-5"></div>

            <div class="container pt-3">
                <h5 class="text-white text-center">@User.Identity.Name</h5>

                <ul class="list-group list-group-flush mt-3">
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="list-group-item"><a href="@Url.Action("index", "Posts")" class="text-white">Publicaciones</a></li>
                        <li class="list-group-item"><a href="@Url.Action("index", "Users")" class="text-white">Usuarios</a></li>
                        <li class="list-group-item"><a href="@Url.Action("index", "Exercises")" class="text-white">Ejercicios disponibles</a></li>

                        <li class="list-group-item">

                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                @Html.AntiForgeryToken()

                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                                </ul>
                            }
                        </li>

                    }
                    else
                    {
                        <li class="list-group-item"><a href="@Url.Action("index", "Home")" class="text-white">Inicio</a></li>
                        <li class="list-group-item"><a href="@Url.Action("ViewProfile", "Users")" class="text-white">Mi perfil</a></li>
                        <li class="list-group-item"><a href="@Url.Action("index", "UserExercises", new { id = User.Identity.GetUserId()})" class="text-white">Seciones de ejercicio</a></li>
                        <li class="list-group-item">

                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                @Html.AntiForgeryToken()

                                <ul class="nav navbar-nav navbar-right">
                                    <li><a class="" href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesion</a></li>
                                </ul>
                            }
                        </li>
                    }
                </ul>
            </div>

            <div class="text-center font-weight-light text-white-50 mt-5">
                Copyright &copy; Exercise Assistant @DateTime.Now.Year
            </div>

        </div>

        <div class="offset-3 col-md-9 bg-light container">
            
            <div class="p-5 pb-3">
                <h1>@ViewBag.Title</h1>
            </div>

            <div class="container pl-5 pr-5">
                @RenderBody()
            </div>

        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
</body>
</html>
