<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="~/Content/Site.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="text-center pt-3 main-title">
        <h2>
            @Html.ActionLink("Exercise Assistant", "Index", "Home", new { area = "" }, new { @class = "text-dark" })
        </h2>
    </div>

    <div class="nav-scroller py-1 mt-2 mb-2 container">
        <nav class="nav d-flex justify-content-between">
            <a class="p-2 text-muted" href="@Url.Action("About", "Home")">Sobre nosotros</a>
            <a class="p-2 text-muted" href="@Url.Action("Contact", "Home")">Contáctanos</a>
            @Html.ActionLink("Registro", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "text-muted" })
            @Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "text-muted" })
        </nav>
    </div>

    <div class="container body-content">
        @RenderBody()
        <footer class="text-center">
            <p>Copyright &copy; Exercise Assistant @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>$('.carousel').carousel()</script>
</body>
</html>
