@using Microsoft.AspNet.Identity;
@using ExerciseAssiatant.Utilities;

@{ 
    ExerciseAssiatant.Models.ApplicationDbContext db = new ExerciseAssiatant.Models.ApplicationDbContext();
    double iw = 0;
    double iw_diff = 0;
    //if (!@User.IsInRole("Admin"))
    //{


    //}
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet" />

</head>
<body>
    
    <div class="row" id="principal">
        <div class="col-md-3 bg-light position-fixed h-100" id="aside">

            <div class="circle-img rounded-circle mx-auto mt-5" id="divImg"></div>

            <div class="container pt-3">
                <h5 class="text-white text-center mb-2">@User.Identity.Name</h5>
                @if (!User.IsInRole("Admin"))
                {
                    <br>
                    <h6 class="text-white text-center"> Diferencia en peso: @ViewBag.iw_diff kg</h6>
                    <h6 class="text-white text-center"> Diferencia en calorias: @ViewBag.cals</h6>
                }

                <ul class="list-group list-group-flush mt-3">
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="list-group-item"><a href="@Url.Action("index", "Posts")" class="text-white">Publicaciones</a></li>
                        @*<li class="list-group-item"><a href="@Url.Action("index", "Users")" class="text-white">Usuarios</a></li>*@
                        <li class="list-group-item"><a href="@Url.Action("index", "ExerciseTypes")" class="text-white">Ejercicios disponibles</a></li>
                    }
                    else
                    {
                        <li class="list-group-item"><a href="@Url.Action("index", "Home")" class="text-white">Inicio</a></li>
                        <li class="list-group-item"><a href="@Url.Action("ViewProfile", "Users")" class="text-white">Mi perfil</a></li>
                        <li class="list-group-item"><a href="@Url.Action("index", "UserExercises", new { id = User.Identity.GetUserId()})" class="text-white">Seciones de ejercicio</a></li>
                    }

                    <li class="list-group-item">

                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()

                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="javascript:document.getElementById('logoutForm').submit()" class="text-white">Cerrar sesión</a></li>
                            </ul>
                        }
                    </li>
                </ul>
            </div>

            <div class="text-center font-weight-light text-white-50 mt-5">
                Copyright &copy; Exercise Assistant @DateTime.Now.Year
            </div>

        </div>

        <div class="offset-3 col-md-9 bg-light container">
            
            <div class="p-5 pb-3">
                <h1>@ViewBag.Title</h1>
            </div>

            <div class="container pl-5 pr-5">
                @RenderBody()
            </div>

        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
        @{
            var id = User.Identity.GetUserId();
            var pic = db.Users.Find(id).Picture;

        }
    <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

    
    @if (!string.IsNullOrEmpty(pic))
    {
        <script>
            document.getElementById("divImg").style.backgroundImage = 'url("/Content/img/perfil/@pic")';
        </script>
    }

</body>
</html>
